* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #131313;
  background-color: rgb(173, 78, 78);
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}
.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2.4rem;
  margin: 0 auto 2.4rem auto;
  color: #f0d43a;
}

.header {
  background-color: blue;
  align-self: center;
}
.main {
  background-color: black;
  width: 120rem;
  align-self: center;
}
.input-section {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
}
.generate {
  background-color: blanchedalmond;
}
.output-section {
  background-color: blueviolet;
}

.weather-container {
  display: flex;
  flex-direction: column;
}

.enter-zip {
  width: 22rem;
  height: 3.4rem;
  border-radius: 5px;
  padding-left: 1rem;
  border: 1px solid #f0d43a;
}
.img-container {
  height: 9.8rem;
  margin: 2.4rem auto;
  width: 10.8rem;
  background-color: pink;
}

.btn-generate {
  width: 16rem;
  margin: 0 auto;
  height: 6rem;
  display: inherit;
  color: #f0d43a;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 5px;
  background: rgb(59, 74, 107);
  border: none;
}
.output-container {
  background-color: royalblue;
  margin: 0 auto;
  max-width: 100rem;
  height: 25rem;
}
